/*******************************************************************************
* @F_NAME :          	filename.c
* @F_PURPOSE :       	purpose
* @F_CREATED_BY :    	username
* @F_CREATION_DATE : 	date
* @F_LANGUAGE :      	C
* @F_MPROC_TYPE :		Both-endian
*************************************** (C) Copyright 2016 Midea Group   ******/

/*______ I N C L U D E - F I L E S ___________________________________________*/

/*______ L O C A L - D E F I N E S ___________________________________________*/

/*______ L O C A L - T Y P E S _______________________________________________*/ 

/*______ G L O B A L - D A T A _______________________________________________*/

/*______ P R I V A T E - D A T A _____________________________________________*/

/*______ L O C A L - D A T A _________________________________________________*/

/*______ L O C A L - M A C R O S _____________________________________________*/

/*______ I M P O R T - F U N C T I O N S - P R O T O T Y P E S _______________*/

/*______ L O C A L - F U N C T I O N S - P R O T O T Y P E S _________________*/

/*______ G L O B A L - F U N C T I O N S _____________________________________*/

/*______ P R I V A T E - F U N C T I O N S ___________________________________*/

/*______ L O C A L - F U N C T I O N S _______________________________________*/

/*______ E N D _____ (filename.c) ____________________________________________*/
